html {
  height:100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {

    /*transform: scale(1.005); */
    /* width: 800px; */
    /* height: 600px; */
  display: none;
    }

  /* new background */ 
  .bg {
    animation:slide 9s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:15s;
  }
  
  .bg3 {
    animation-duration:15s;
  }
    
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

      /* Styles for the items */
#inputDates {
  font-family: inherit;
  font-size: 25px;
  margin: 3% 0 1%;
}


#doMathBtn {
  background-color: #f44336;
  font-family: inherit;
  font-size: 35px;
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  padding:3vmin;
  margin-bottom: 5%;
  text-align:center;
  /* transform:translate(-50%, -50%);
  transition-duration: 0.4s; */
}

#doMathBtn:hover {
  background-color: white; /* Green */
  color: #f44336; 
}

@media only screen and (max-width: 600px) {
#nasaImg {
  max-width: 100%;
  height: auto;
  align-items: inherit;
  }
}

@media only screen and (min-width: 600px) {
  #nasaImg {
    max-width: 80%;
    height: auto;
    align-items: inherit;
  }
}

@media only screen and (min-width: 768px) {
  #nasaImg {
    max-width: 50%;
    height: auto;
    align-items: inherit;
  }
}

@media only screen and (min-width: 1200px) {
  #nasaImg {
    max-width: 40%;
    height: auto;
   /* flex-shrink: 2; */
   /* flex: 1 0 10px; */
  }
}

#imgContainer {
  margin-bottom: 1vh;
  /* max-width: 100%;
  max-height: auto; */
  width: 50%;      
  height: auto;
  /* background:rgb(243, 243, 222, .5); */
  border-radius: 5px;
  display:flex;
  flex-direction: row;
  align-items:flex-start;
  flex-wrap: wrap;
  
  /* position:relative; */
  /* margin: 25px 0 25px 4%; */
  
    /* position: relative;
    float: left;
    height: 100%;
    width: 40%;
    overflow: hidden;
    -webkit-animation: reveal 4s ease;
    -webkit-animation-fill-mode: backwards;
}

@-webkit-keyframes reveal {
    0%   {width: 0px;}
    100% { width: 40%;}
}
@keyframes reveal {
    0%   {width: 0px;}
    100% { width: 40%;}
 */
}


#myDayList,#myMonthList, #txtNasa {
  font-size: 20px;
}

#txtNasa{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
#picExplanation {
  margin: 2% 1%;

}


#explContainer{
  margin: 2%;
}





     /* https://css-tricks.com/seamless-responsive-photo-grid/

    This is the link where I got this following photo positioning and media querries. */
/* #photos { */
  /* Prevent vertical gaps */
  /* line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;
  position:absolute;
  left: 0px;
  top: 0px;
  z-index: -1;  
} */

/* #photos img { */
  /* Just in case there are inline attributes */
  /* width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
    #photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
  }
  @media (max-width: 1000px) {
    #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  } */
